<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjg.leesite.database.mapper.MonitorMapper">
  <resultMap id="BaseResultMap" type="com.zjg.leesite.database.pojo.Monitor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="cpu" jdbcType="VARCHAR" property="cpu" />
    <result column="jvm" jdbcType="VARCHAR" property="jvm" />
    <result column="ram" jdbcType="VARCHAR" property="ram" />
    <result column="toemail" jdbcType="VARCHAR" property="toemail" />
  </resultMap>
</mapper>