<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjg.leesite.database.mapper.QrtzPausedTriggerGrpsMapper">
  <resultMap id="BaseResultMap" type="com.zjg.leesite.database.pojo.QrtzPausedTriggerGrps">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sched_name" jdbcType="VARCHAR" property="schedName" />
    <id column="trigger_group" jdbcType="VARCHAR" property="triggerGroup" />
  </resultMap>
</mapper>