<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjg.leesite.database.mapper.QrtzJobDetailsMapper">
  <resultMap id="BaseResultMap" type="com.zjg.leesite.database.pojo.QrtzJobDetails">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="sched_name" jdbcType="VARCHAR" property="schedName" />
    <id column="job_name" jdbcType="VARCHAR" property="jobName" />
    <id column="job_group" jdbcType="VARCHAR" property="jobGroup" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="job_class_name" jdbcType="VARCHAR" property="jobClassName" />
    <result column="is_durable" jdbcType="VARCHAR" property="isDurable" />
    <result column="is_nonconcurrent" jdbcType="VARCHAR" property="isNonconcurrent" />
    <result column="is_update_data" jdbcType="VARCHAR" property="isUpdateData" />
    <result column="requests_recovery" jdbcType="VARCHAR" property="requestsRecovery" />
    <result column="job_data" jdbcType="LONGVARBINARY" property="jobData" />
  </resultMap>
</mapper>